
.Menu-items{
    flex: 1; 
    margin-top: 0.5rem;
}

.Menu-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    white-space: nowrap;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

.Menu-icon-wrapper {
    width: 100%;
    max-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    transition: width 0.3s ease;
}

.Menu:hover .Menu-icon-wrapper {
    width: auto;
    justify-content: flex-start;
}

.Menu-item .Menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    color: #aaa;
    min-width: 1.75rem;
}

.Menu-item:hover {
    background-color: #333;
}

.Menu-item span {
    opacity: 0; 
    font-size: 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-0.625rem);
}

.Menu:hover .Menu-item span {
    opacity: 1; 
    transform: translateX(0);
}

/* Dropdown */

.Dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #494949;
    margin-top: 0.25rem;
    border-left: 0; 
    border-radius: 0.375rem;
    animation: slideDown 0.2s ease forwards;
}

.Dropdown .CreateDrop-item {
    padding: 0.5rem 1rem;
    color: #fff;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.Dropdown .CreateDrop-item:hover {
    background-color: #575757;
}

/* extra: animations for slidedown  */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}