.Menu-bottom {
    padding-bottom: 1rem;
}

.Menu:hover .Menu-bottom .Menu-item {
    justify-content: flex-start;
}

.Menu-separator{ 
    height: 1px;
    background-color: #333;
    margin: 0.5rem 1rem;
}

.Menu-user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

.Menu-user:hover {
    background-color: #333;
}

.Menu-userImage{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.Menu-userInfo{
    display:flex; 
    flex-direction: column;
    opacity: 0;
    transform: translateX(0.625rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.Menu:hover .Menu-userInfo{
    opacity: 1;
    transform: translateX(0);
}

.Menu-userName{
    font-weight: 600;
    font-size: 1rem;
}